{% extends 'base_recruiter.html' %}
{% load static %}

{% block pagetitle_recruiter %}
      Chi tiết công việc
{% endblock %}
{% block linkcss_recruiter %}
    <link rel="stylesheet" href="{% static 'css/manage-post.css' %}" >
{% endblock %}
{% block maincontent %}
      <!-- ================ Main Content =============== -->
      <div id="main" class="my-120 ">
            <h1 class="text-uppercase font-NotoSans-Bold text-center fs-4">Quản lý bài đăng của bạn</h1>
            <div class="container px-5 mt-40">
                  <div class="row align-items-center">
                        <div class="search-box col-12 col-md-6 col-lg-3">
                              <input 
                                    type="text" 
                                    class="search-input"
                                    placeholder="Tìm kiếm bài tuyển dụng"
                              >
                              <button
                                    type="submit"
                                    class="text-center search-button"
                              >
                                    <i class="icofont-search"></i>

                              </button>
                        </div>
                        <div class="ms-lg-5 ms-0 button-add col-md-6 col-12 mt-4 mt-md-0 col-lg-3">
                              <a 
                                    class="btn bg-btn text-uppercase font-NotoSans-Bold" 
                                    type="button"
                                    style="font-size: 14px;"
                                    href="{% url 'add-new-post' %}"
                              >
                                    Thêm bài đăng mới
                              </a>
                        </div>
                  </div>
            </div>
            <div class="container px-5 mt-40">
                  {% for item in Posts%}
                  <div class="wrapper my-5 mt-60" id={{item.id}}>
                        <div class="d-flex post-item">
                              <div class="approve-btn">
                                    {% if item.confirm %}
                                    Đã Duyệt
                                    {% else %}
                                    Chưa Duyệt
                                    {% endif %}
                              </div>
                              <div class="logo-company">
                                    <img src="{% static 'image/horror.png' %}" alt="Post - Logo Company">
                              </div>  
                              <div class="ms-14 ms-40">
                                    <div class="title">
                                          <p class="font-NotoSans-Bold fs-5">{{item.name_post}}</p>
                                          <span class="font-WorkSans-Medium">VNG Group</span>
                                    </div>
                                    <div class="mt-40 mt-14 post-basic-information">
                                          <div class="information-field">
                                                <div class="label"> 
                                                      <p class="font-NotoSans-Bold">Địa điểm tuyển dụng</p>
                                                </div>
                                                <div class="value">
                                                      <p class="font-WorkSans-Regular">{{item.location}}</p>
                                                </div>
                                          </div>
                                          <div class="information-field">
                                                <div class="label"> 
                                                      <p class="font-NotoSans-Bold">Mức lương đề xuất</p>
                                                </div>
                                                <div class="value">
                                                      <p class="font-WorkSans-Regular">{{item.salary}}</p>
                                                </div>
                                          </div>
                                          <div class="information-field">
                                                <div class="label"> 
                                                      <p class="font-NotoSans-Bold">Kinh nghiệm yêu cầu</p>
                                                </div>
                                                <div class="value">
                                                      <p class="font-WorkSans-Regular">{{item.experience_required}}</p>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="dividing-line"></div>

                        <div class="post-details">
                              <div class="detail-item">
                                    <!-- Heading Field -->
                                    <p class="text-uppercase font-NotoSans-Bold fs-6">Chi tiết</p>
                                    <!-- Content Field -->
                                    <div class="post-content" id="content-{{item.id}}">
                                          {{item.content_post}}
                                    </div>
                                    
                              </div>
                              <div class="detail-item">
                                    <!-- Heading Field -->
                                    <p class="text-uppercase font-NotoSans-Bold">Kỹ năng yêu cầu</p>
                                    <!-- Content Field -->
                                    <ul class="list-required-skills font-NotoSans-Bold">
                                          <li>html</li>
                                          <li>css</li>
                                          <li>javascript</li>
                                    </ul>
                              </div>
                        </div>

                        <div class="dividing-line"></div>

                        <div class="post-actions text-end">
                              <a
                                    href="#"
                                    class="post-button font-NotoSans-Bold"
                                    type="button"
                              
                              >
                                    <i class="icofont-pencil-alt-2"></i>
                                    Chỉnh sửa
                        </a>
                        </div>
                        
                  </div>
                  {% endfor %}
            </div>
      </div>
      <!-- End Content of "Quản lý bài đăng" page-->
{% endblock %}
{% block linkjs %}
<script src="{% static 'javascript/manage-post.js' %}"></script>
{% endblock %}