{% extends 'base_recruiter.html' %}
{% load static %}

{% block pagetitle_recruiter %}
      Chi tiết công việc
{% endblock %}
{% block linkcss_recruiter %}
    <link rel="stylesheet" href="{% static 'css/manage-candidate.css' %}" >
{% endblock %}
{% block maincontent %}
    <div id="content">
        <div class="container my-5 pt-5">
            <h1 class="font-WorkSans-Bold text-center fs-2 py-3 mt-5">QUẢN LÝ ỨNG VIÊN CỦA BẠN</h1>
            <div class="nav-tab row row-cols-md-2 row-cols-sm-1 px-3 px-md-0 mt-5">
                <select class="col-sm-12 col-md-3" name="select-job" id="select-job">
                    <option value="" selected>Chọn công việc</option>
                    {% for name in list_job %}
                    <option id="{{name.id}}" value="{{name.id}}">{{name.name_post}}</option>
                    {% endfor %}
                </select>
                <div class="row row-cols-3 col-md-9 col-12 mt-3 mt-md-0">
                    <div class="nav-button">
                        <a href="{% url 'manage-applicant' %}">
                            <button class=" btn-wait-confirm">CHỜ XÁC NHẬN</button>
                        </a>
                    </div>
                    <div class="nav-button">
                        <a href="{% url 'accepted' %}">
                            <button class="btn-accept">ĐÃ CHẤP NHẬN</button>
                        </a>
                    </div>
                    <div class="nav-button">
                        <a href="{% url 'refuse' %}">
                            <button class="btn-refuse">ĐÃ TỪ CHỐI</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-candidate  mt-5">
                {% if list_candidate %}
                {% for i in list_candidate %}
                        {% for item in i %}
                            <div class="candidate-item position-relative item-{{item.id_post}} ">
                                    <input type="hidden" name="" class="id_post" value="{{item.id_post}}">
                                    <div class="row title pb-3">
                                        <div class="img-profile overflow-hidden col-1">
                                            <img src={{item.profile_picture}} alt="">
                                        </div>
                                        <div class="col-9 inf ps-ms-3 ps-2 ">
                                            <p class="name">{{item.full_name}}</p>
                                            <div class="row row-cols-md-2 row-cols-1">
                                                <p class="field-job">{{item.name_of_interested_job}}</p>
                                                <p>{{item.address}}</p>
                                            </div>
                                            <a href="" class="view-detail position-absolute">
                                                <div class="d-flex">
                                                    <img src="../../assets/image/view-detail.png" alt="">
                                                    <p>XEM CHI TIẾT</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="main-profile row py-3 row-cols-md-2 row-cols-1 font-WorkSans-Regular">
                                        <div class="ps-md-5 ps-2">
                                            <p class="title-profile">KINH NGHIỆM LÀM VIỆC</p>
                                            <p>{{item.previous_job_title}} tại {{item.name_of_previous_company}} từ {{item.time_start_previous_job}} đến {{item.time_end_previous_job}}
                                                
                                        </div>
                                        <div class="ps-md-5 ps-2 mt-md-0 mt-3">
                                            <p class="title-profile">HỌC VẤN</p>
                                            <p>{{item.name_of_school }}</p>
                                        </div>
                                    </div>
                                    <div class="">
                                        <p class="title-profile">KỸ NĂNG</p>
                                        <div class="skill d-flex flex-wrap">
                                            <div class="skill-item">
                                                HTML
                                            </div>
                                            <div class="skill-item">
                                                JAVASCRIPT
                                            </div>
                                            <div class="skill-item">
                                                PYTHON
                                            </div>
                                            <div class="skill-item">
                                                PHP
                                            </div>
                                            <div class="skill-item">
                                                JAVASCRIPT
                                            </div>
                                            <div class="skill-item">
                                                JAVASCRIPT
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="manage-btn py-3  text-end">
                                        <a href="">
                                            <button class="btn-refuse-cand " {{disable}} id="user-{{item.id_apply}}">
                                                TỪ CHỐI
                                            </button>
                                        </a>
                                        <a href="">
                                            <button class="btn-accept-cand" {{disable}} id="{{item.id_apply}}">
                                                CHẤP NHẬN
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        
                            {% endfor %}
                            {% else %}
                            <p class="px-3 py-4 ">Không có ứng viên nào</p>
                        {% endif %}    
            </div>
        </div>
    </div>
{% endblock %}
{% block linkjs %}
    <script src="{% static 'javascript/manage_candidate.js' %}"></script>
{% endblock %}