/* FOOTER */

.social-icon img{
    width:40px;
}
.site-linking ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 14px;
    line-height: 35px
}

.box-logo {
    max-width: 200px;
    width: 100%;
}