* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/*header----------------------------*/
header{
    background: #193549;
    z-index:1000;
    filter: drop-shadow(3px 4px 6px rgba(25, 53, 73, 0.45));
}
.header{
    height:60px
}
.img-logo{
    width:40px;
    height: 40px;
}
.nav-menu{
    letter-spacing:0.5px;
    font-weight:400;
    font-size: 14px;
}
.btn-employer{
    font-weight: 600;
    color: #193549;
}
.icon-menu{
    display:none; 
}
.icon-close{
    display: none;
}
.over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 99;
}
/*Xử lý ẩn user header*/
.for-user{
    display:none;
}
.icon-notify{
    width: 25px;
}
.img-user{
    width: 65px;
    --bs-gutter-x:1.5rem;
}

.dropdown li{
    padding: 6px 14px;
}
.dropdown li:hover{
    background: #BFE9FF;
}
.control-user .accordion-button::after{
    background-image: url(../image/down-arrow.png);
    margin-left: 6px;
    
}
.control-user{
    width: 30%;
    padding:0;
}
.dropdown{

    width: 200px;
    top: 110%;
    right:0;
    box-shadow: 2px 2px 6px #a7a7a7;
}
.dropdown li a{
    text-decoration: none;
    color: #000;
    line-height: 30px;
}
@media(min-width:768px){
    .over {
        display:none !important;
    }
    
}
@media(min-width: 992px) and (max-width:1199px){
    .row{
        padding:0
    }
    
    
}
@media(min-width: 768px) and (max-width:991px){
    .row{
        --bs-gutter-x:0
    }
    .control-user{
        width: 50% !important;
    }
    .name{
        font-size:14px !important;
    }
    .nav-menu, .sign-up a{
        font-size: 12px !important;
        letter-spacing:0;
    }
    .sign-up a{
        margin-right:2px !important;
    }
    .btn-employer{
        font-size:12px !important;
    }
}

@media (max-width: 767px){
    .name{
        font-size:14px;
    }
    .control-user{
        width: 50% !important;
    }
    .nav{
        display:none;
        position:fixed;
        right:0px;
        background: #193549;
        padding: 10px 8px;
        padding-bottom: 50vh;
        z-index: 100;
    }
    .icon-menu{
        display:flex;
    }
    .icon-close{
        display: block;
    }
    .icon-menu img{
        width: 20px;
        height:20px;
        margin-left: calc(100% - 20px);
    }
    .nav-menu ul li{
        display: block !important;
        height:40px;
    }
    
    .sign-up a{
        display:block;
        height:40px
    }
    .sign-up,
    .nav-menu{
        border-bottom: #fff 1px solid;
        margin: 0 12px;
        padding: 0;
    }
    .sign-up{
        margin-top: 20px
    }
    .icon-close{
        height: 70px;
    }
    .btn-employer{
        margin: 30px 0;
    }
    .icon-close img{
        width:20px;
        height:20px;
        float: right;
    }
    .nav-menu ul{
        padding-left:0 !important;
    }
    .dropdown{
        width: 300px;
        top: 110%;
        right:0;
        box-shadow: 2px 2px 6px #a7a7a7;
    }
    .accordion-button {
        padding: 1rem 0.25rem;
    }
}