
.img-company{
    width: 90px;
}
#content{
    margin: 8rem 0;
}
.main-inf img{
    width: 18px;
}
.main-inf{
    height: 13rem
}
.time-post img{
    width: 15px;
}
.time-post{
  
    color: #666666;
}
.btn-post img{
    width: 20px;
}
.btn-post button{
    height: 36px;
    width: 160px;
}
.button-mark button,
.button-share button{
    border: #71CFFF 2px solid;

}
.post-content p{
    line-height: 25px;
}
.tag{
    border: #ccc 1px solid;
    background: #F3F3F3;
    border-radius: 20px;

}
.web-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border:#9F9F9F 1px solid;
    padding: 3px 7px;
}
.introduce-company{
    border-radius: 6px;
    border: 2px solid #C5C5C5;
}
.introduce-company p{
    text-align: justify;
}
.link{
    border: #71CFFF 1px solid;
}
.table-share{
    display:none;
}
.show-table{
    display: block;
}