/*----------search------------*/
.search-job {
    background-color:#E5F2F9;
    border-radius: 6px;
    border: #B1B2CD 1px solid;
}
.input-sr:focus{
    outline:none;
}
.search input{
    width: 90%;
}
.search-job input::placeholder{
    color: rgba(43, 49, 180, 0.53);
    font-size: 14px;
    font-family:NotoSans;
}
.search-location{
    background-color:#FEF2DE;
    border-radius: 6px;
    border: #CCCCCC 1px solid;
}
.search-location input::placeholder{
    color: rgba(114, 88, 49, 0.46);
    font-size: 14px;
    font-family:NotoSans;
}
.btn-search{
    width: calc(100% - 80% - 5%);
}
@media (max-width: 767px){
    .btn-search{
        width: 100%;
        padding:0;
    }
    .btn-search button{
        padding: 6px;
    }
}
/*----------filter------------*/

.filter .sort button{
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    border-radius: 20px;
    padding: 3px 10px;
}
.button-choose{
    background: #D7E7FF !important;
    border: 1px solid #0048B5 !important;
    color: #234BB1;
}
.filter i{
    right:0;
    top: 3px;
    color: #7D7D7D;
    cursor:pointer;
}
.filter{
    border: #ccc 1px solid;
    border-radius: 6px;
    padding: 20px;
    float: left;
    width: 30%;
    display: block;
}
.accordion-header button{
    
}
.list-job{
    float: left;
    width: 70%;
    height: 90vh;
}
.list-job-card{
    width: 50%;
}
.job-card{
    border: #ccc 1px solid;
    border-radius: 6px;
    padding: 26px;
}
.img-company{
    width: 50px;
    height: 50px;
}
.color-name{
    color: #7199FF;
}
.save-job img{
    width: 20px;
}
.content-post img,
.time-post img,
.quantity-apply img{
    width: 15px;
}
.content-post{
    height: 110px;
}
.time-post{
    border-bottom:#ccc 2px solid;
}
.time-post p,
.quantity-apply p{
    font-size: 13px;
    color: #949292;
}
.btn-filter{
    display:none;
}
.overr {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
/* .accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -2 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    margin-left: auto;
} */
@media (min-width: 992px){
    .filter{
        display: block !important;
    }
}
@media  (min-width:768px) and (max-width: 991px){
    .btn-filter{
        display:block;
        width: 47%;

    }
    .filter{
        display:none;
        width: 300px;
        z-index: 1000;
        position: fixed;
        top: 40px;
        right: 5px;

    }
    .list-job{
        width: 100%;
        height: 100vh;
        padding-left:14px !important;
    }
    .list-job-card{
        width: 49%;
        margin-right: 5px;
    }
}

@media (max-width:767px){
    .btn-filter{
        display:block;
    }
    .filter{
        display:none;
        width: 300px;
        z-index: 1000;
        position: fixed;
        top: 40px;
        right: 5px;

    }
    .list-job{
        width: 100%;
        height: 100vh;
        padding-left:14px !important;
    }
    .list-job-card{
        width: 100%;
    }
}