.search-box {
      display: flex;
      align-items: center;
      position: relative;
      width: 300px;
      height: 35x;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
}

.search-input {
      width: 100%;
      height: 100%;
      padding: 5px;
      padding-left: 10px !important;
      border-radius: 3px;
      border: none;
      outline: none;
}

.search-box .search-input::placeholder {
      font-style: italic;
}

.search-box:hover,
.search-box:active,
.search-box:focus {
      border-color: #71cfff;
}

.search-box .search-button {
      width: 40px;
      height: 35px;
      background-color: #71cfff;
      border: none;
      border-top-right-radius: 2px;
      border-end-end-radius: 2px;
      cursor: pointer;
}

.search-box .search-button i {
      color: #111;
      font-weight: 500;
      font-size: 16px;
}

#main .wrapper {
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      padding: 15px 25px;
}

#main .logo-company img {
      width: 50px;
      height: 50px;
}

#main .post-basic-information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
}

#main .post-basic-information .information-field {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px;
}

#main .post-basic-information .information-field .label {
      width: 40%;
}

#main .post-basic-information .information-field .value {
      width: 60%;
}

#main .dividing-line {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: 2px;
      background-color: #c5c5c5;
}

#main .post-details {
      padding-left: 30px;
      padding-right: 15px;
}

#main .detail-item {
      margin-top: 25px;
}

#main .list-required-skills {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
      text-transform: uppercase;
}

#main ul.list-required-skills {
      list-style-type: none;
}

#main .list-required-skills li {
      background-color: #d9d9d9;
      width: 180px;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 45px;
}

#main .post-actions {
      margin-top: 30px;
      width: 100%;
}

#main .post-actions .post-button {
      width: 180px;
      background-color: #d9d9d9;
      outline: none;
      border: none;
      padding-top: 7px;
      padding-bottom: 7px;
      text-transform: uppercase;
      font-size: 14px;
}
.post-item{
      position: relative;
}
.approve-btn{
      position: absolute;
      right: 20px;
      border:0;
      padding: 8px 14px;
      background: #a41515;
      color: #fff;
      font-size: 14px;
      border-radius: 16px;
}