.search-box {
      display: flex;
      align-items: center;
      position: relative;
      width: 300px;
      height: 35x;
      border: 1px solid #c5c5c5;
      border-radius: 3px;
}

.search-input {
      width: 100%;
      height: 100%;
      padding: 5px;
      padding-left: 10px !important;
      border-radius: 3px;
      border: none;
      outline: none;
}

.search-box .search-input::placeholder {
      font-style: italic;
}

.search-box:hover,
.search-box:active,
.search-box:focus {
      border-color: #71cfff;
}

.search-box .search-button {
      width: 40px;
      height: 35px;
      background-color: #71cfff;
      border: none;
      border-top-right-radius: 2px;
      border-end-end-radius: 2px;
      cursor: pointer;
}

.search-box .search-button i {
      color: #111;
      font-weight: 500;
      font-size: 16px;
}

#main .wrapper {
      border: 1px solid #c5c5c5;
      border-radius: 3px;
      padding: 15px 25px;
}

#main .logo-company img {
      width: 50px;
      height: 50px;
}

#main .post-basic-information {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
}

#main .post-basic-information .information-field {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 15px;
}

#main .post-basic-information .information-field .label {
      width: 40%;
}

#main .post-basic-information .information-field .value {
      width: 60%;
}

#main .dividing-line {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      height: 1px;
      background-color: #c5c5c5;
}

#main .post-details {
      padding-left: 30px;
      padding-right: 15px;
}

#main .detail-item {
      margin-top: 25px;
}

#main .list-required-skills {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
      text-transform: uppercase;
}

#main ul.list-required-skills {
      list-style-type: none;
}

#main .list-required-skills li {
      background-color: #d9d9d9;
      min-width: 180px;
      padding: 4px 11px;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border-radius: 45px;
}

#main .post-actions {
      margin-top: 30px;
      width: 100%;
}

#main .post-actions .post-button {
      display: inline-block;
      padding: 9px 30px;
      color: #000;
      background-color: #d9d9d9;
      outline: none;
      border: none;
      padding-top: 7px;
      padding-bottom: 7px;
      text-transform: uppercase;
      font-size: 14px;
}
.post-item{
      position: relative;
}
.approve-btn{
      position: absolute;
      right: 20px;
      border:#a41515 1px solid;
      padding: 4px 8px;
      color: #a41515;
      font-size: 14px;
      font-weight: 600;
      border-radius: 16px;
}
.mt-60{
      margin-top: 60px !important;
}
.button-add a{
      
      line-height: 21px;
}
@media (max-width: 768px){
      .ms-14{
            margin-left: 14px !important;
      }
      .title{
            width: 70%
      }
      .title p{
            font-size: 16px !important;
      }
      .approve-btn {
            right: -9px;
            padding: 6px 12px;
            font-size: 12px;
      }
      #main .list-required-skills{
            padding:0
      }
      #main .list-required-skills li {
            min-width: 100px;
      }
      .post-content{
            font-size:12px;
      }
      .button-add a{
            font-size: 11px !important;
            line-height: 24px;
      }
      .button-add{
      }
      .search-box{
            --bs-gutter-x: 0;
            margin-left: 8px;

      }
}
@media (max-width: 567px){
      #main .post-basic-information .information-field {
            width: 100%;
      }
      #main .post-basic-information .information-field {
            font-size: 13px;
      }
      .mt-14{
            margin-top: 14px !important;
      }
      #main .post-details {
            padding:0;
      }
      #main .list-required-skills li{
            font-size: 10px;
            min-width: 80px;
      }
      .approve-btn{
            
            border:0;
      }
      #main .logo-company img {
            width: 38px;
            height: 38px;
      }
      #main .wrapper {
            padding: 15px 15px;
      }
}