.sign-up-site{
    margin-top: 10rem;
    border: #ccc 1px solid;
    width: 500px;
    border-radius: 6px;
    margin-bottom: 15rem;
   
}
@media (max-width: 567px){
    .sign-up-site{
        width: 95%;
    }
}
.input img 
{
    width: 20px;
}
.w-49{
    width: 49%;
}
.input input{
    border: none;
    height: 40px;
    width: 90%;
}
.input input:focus{
    outline: none;
}
.input{
    border: #ccc 1px solid;
    border-radius: 6px;

}
.sign-up-site button{
    border-radius: 6px;
}
.sign-up-site span{
    position: relative;
    left: calc(50% - 20px);
    top: -31px;
    background: #fff;
    display: inline-block;
    width: 40px;
    text-align: center;
}
.btn-gg{
    background: #C10909;
    margin-top: -15px;
}