{% load static %}
<!-- =============== Header =============== -->
<header class="header bg-web">
    <div class="container">
          <div class="row position-relative">
                <div class="col-6 col-md-6 col-lg-2">
                      <a class="d-flex align-items-center text-decoration-none">
                            <img src="{% static 'image/logo.png' %}" alt="Logo The Wall" width="40px" height="40px">
                            <span class="font-NotoSans-Bold ms-2" style="font-size: 14pt;">
                                  The Wall
                                  <span class="font-NotoSans-Regular d-block" style="font-size: 10pt;">
                                        for Employers
                                  </span>
                            </span>
                      </a>
                </div>
                
                <div class="col-lg-7 d-none d-lg-block">
                      <div class="h-100 d-flex align-items-center">
                            <div class="font-NotoSans-Regular text-uppercase">
                                  <a href="#">Bảng thông tin</a>
                            </div>
                            <div class="font-NotoSans-Regular text-uppercase ms-5">
                                  <a href="#">Quản lý ứng viên</a>
                            </div>
                            <div class="font-NotoSans-Regular text-uppercase ms-5">
                                  <a href="{% url 'manage-post' %}">Quản lý đăng tuyển</a>
                            </div>
                      </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3">
                      <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="me-3 d-lg-none">
                                  <div class="menu">
                                        <button 
                                              id=""
                                              class="btn_show_menu box_circle icon-menu" 
                                              type="button"
                                             
                                             
                                        > 
                                              <i class="icofont-navigation-menu"></i>
                                        </button>
                                        <ul 
                                              class="list-menu" 
                                              
                                        >
                                            <img src="{% static 'image/close-button.png' %}" alt="" class="icon-close">
                                              <li>
                                                    <a class="" href="#">Bảng thông tin</a>
                                              </li>
                                              <li>
                                                    <a href="#" class="">Quản lý ứng viên</a>
                                              </li>
                                              <li>
                                                    <a href="#" class="">Quản lý đăng tuyển</a>
                                              </li>
                                        </ul>
                                  </div>
                            </div>
                            <div class="d-none d-md-flex align-items-center">
                                  <div class="box_header_profile_picture">
                                        <img 
                                              id="id_profile_picture_company_header"
                                              src="{{ recruiter_profile.profile_picture_company.url }}" 
                                              class="profile_picture">
                                  </div>
                                  <p class="font-NotoSans-Regular text-white ms-3 text-uppercase">{{ account.first_name }}</p>
                            </div>
                            <div class="me-50 d-flex align-items-center ms-2">
                                  <div class="btn_show_notification">
                                        <div class="box_circle">
                                              <i class="icofont-notification"></i>
                                        </div>
                                  </div>
                                  <div class="dropdown">
                                        <button 
                                              id="show_Account_Config" 
                                              class="btn_show_account_config box_circle dropdown-toggle"
                                              data-bs-toggle="dropdown"
                                              aria-expanded="false"
                                              type="button"
                                        >
                                              <i class="icofont-caret-down"></i>
                                        </button>
                                        <ul   
                                              class="dropdown-menu dropdown_menu" 
                                              aria-labelledby="show_Account_Config"
                                        >
                                              <li>
                                                    <a class="dropdown-item" href="{% url 'profiles:recruiter_profile' %}">Quản lí hồ sơ</a> 
                                              </li>
                                              <li>
                                                    <a class="dropdown-item" href="">Đơn ứng tuyển của tôi</a> 
                                              </li>
                                              <li>
                                                    <a class="dropdown-item" href="{% url 'accounts:setting' %}">Cài đặt tài khoản</a>
                                              </li>
                                              <li>
                                                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Đăng xuất</a> 
                                              </li>
                                        </ul>
                                  </div>
                            </div>
                      </div>
                </div>
          </div>
    </div>
</header>