{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    Đăng nhập
{% endblock %}

{% block style %}
    <!-- Style Header Component -->
    <link rel="stylesheet" href="{% static 'css/JobSeeker/header-component.css' %}">
    <!-- Style Login Page -->
    <link rel="stylesheet" href="{% static 'css/Shared/login-page.css' %}">
{% endblock %}

{% block pagecontent %}
    <!-- ----- Header Component ----- -->
        {% include 'components/JobSeeker/header-component.html' %}
    <!-- ----- End Header ----- -->
     
    <div class="container font-NotoSans-Regular">
        <div class="login-form mx-auto position-relative">
            <!-- Title of Form -->
            <h2 class="font-NotoSans-Bold text-center fs-3">Đăng nhập vào The Wall</h2>
            <!-- Content of Form -->
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="alert alert-danger">
                        {{ form.errors.as_text }}
                    </p>
                {% endif%}
                <div class="input ps-2 my-4">
                    <img src="{% static 'image/sign-in/user.png' %}" alt="">
                    <input type="text" name="username" placeholder="Tên đăng nhập" required>
                </div>
                <div class="input ps-2 my-2">
                    <img src="{% static 'image/sign-in/padlock.png' %}" alt="">
                    <input type="password" name="password" placeholder="Mật khẩu" required>
                </div>  

                <a class="fs-14 text-primary text-decoration-underline" href="{% url 'accounts:password_reset' %}">Bạn quên mật khẩu??</a>

                <input class="d-block border-0 bg-web text-white w-100 my-4 p-2 fs-14 font-NotoSans-Bold" type="submit" value="Đăng nhập">

                <hr width="100%"/>
                <span>or</span>
            </form> 
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn-gg d-block border-0 text-white w-100 p-2 mb-4 fs-14 font-NotoSans-Bold">Đăng nhập với Google</a>

            <p>Chưa có tài khoản? Nhấn <a href="{% url 'accounts:register' %}" style="color: blue;">vào đây</a> để dễ dàng tạo tài khoản mới.</p>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/login.js' %}" type="text/javascript"></script>
{% endblock %}