{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    Đăng nhập
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/Shared/login.css' %}">
{% endblock %}

{% block pagecontent %}
    <header class="position-fixed top-0 w-100 bg-web">
        <div class="header-group">
            <div class="header-scope">
                <div class="logo-scope">
                    <img src="{% static 'image/logo.png' %}" alt="Logo The Wall">
                    <p class="font-NotoSans-Bold name-site">The Wall</p>
                </div>
                <div id="showMenu" class="icon-show-menu">
                    <img src="{% static 'image/menu.png' %}" alt="">
                </div>
                <div id="mainMenu" class="actions-scope">
                    <div class="icon-close-menu">
                        <img src="{% static 'image/close-button.png' %}" alt="">
                    </div>
                    <a 
                        href="{% url 'accounts:login' %}" 
                        class="action-item font-NotoSans-Regular" 
                        style="margin-left: -30px;"
                    >
                        Đăng nhập
                    </a>
                    <a 
                        href="{% url 'accounts:register' %}" 
                        class="action-item font-NotoSans-Regular"
                    >
                        Đăng ký
                    </a>
                    <a 
                        href="{% url 'accounts:recruiter_register' %}" 
                        class="redirect-recruiter font-NotoSans-Bold"
                    >
                        Nhà tuyển dụng
                        <img src="{% static 'image/arrow-right.png' %}" alt="icon arrow right">
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container font-NotoSans-Regular">
        <div class="login-form mx-auto position-relative">
            <!-- Title of Form -->
            <h2 class="font-NotoSans-Bold text-center fs-3">Đăng nhập vào The Wall</h2>
            <!-- Content of Form -->
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="alert alert-danger">
                        {{ form.errors.as_text }}
                    </p>
                {% endif%}
                <div class="input ps-2 my-4">
                    <img src="{% static 'image/sign-in/user.png' %}" alt="">
                    <input type="text" name="username" placeholder="Tên đăng nhập" required>
                </div>
                <div class="input ps-2 my-2">
                    <img src="{% static 'image/sign-in/padlock.png' %}" alt="">
                    <input type="password" name="password" placeholder="Mật khẩu" required>
                </div>  

                <a class="fs-14 text-dark" href="">Bạn quên mật khẩu??</a>

                <input class="d-block border-0 bg-web text-white w-100 my-4 p-2 fs-14 font-NotoSans-Bold" type="submit" value="Đăng nhập">

                <hr width="100%"/>
                <span>or</span>
            </form> 
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn-gg d-block border-0 text-white w-100 p-2 mb-4 fs-14 font-NotoSans-Bold">Đăng nhập với Google</a>

            <p>Chưa có tài khoản? Nhấn <a href="{% url 'accounts:register' %}" style="color: blue;">vào đây</a> để dễ dàng tạo tài khoản mới.</p>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/login.js' %}" type="text/javascript"></script>
{% endblock %}