{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
      Đăng ký | Người tìm việc
{% endblock %}

{% block style %}
      <!-- Style Header Component -->
      <link rel="stylesheet" href="{% static 'css/JobSeeker/header-component.css' %}">
      <!-- Style Register Page -->
      <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
{% endblock %}

{% block pagecontent %}
      <!-- ----- Header Component ----- -->
      {% include 'components/JobSeeker/header-component.html' %}
      <!-- ----- End Header ----- -->

      <div class="container font-NotoSans-Regular">
            <div class="sign-up-site mx-auto p-sm-5 p-4 position-relative">
                  <h2 class="text-noto-b text-center fs-3">Đăng ký tài khoản The Wall</h2>
      
                  <form action="{% url 'accounts:register' %}" method="POST" id="form-sign-up">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between align-items-center">
                              <div class="input ps-2 mt-4 w-49">
                                    <input type="text" name="first_name" placeholder="Tên" required>
                              </div>
                              <div class="input ps-2 mt-4 w-49">
                                    <input type="text" name="last_name" placeholder="Họ" required>
                              </div>
                        </div>
                        <div class="input ps-2 my-4">
                              <img src="{% static 'image/sign-in/user.png' %}" alt="" class="me-2">
                              <input type="text" name="username" placeholder="Tên đăng nhập" required>
                        </div>
                        {% if form.username.errors %}
                              <p class="alert alert-danger font-NotoSans-Bold">
                                    {{ form.username.errors.as_text }}
                              </p>
                        {% endif %}
                        <div class="input ps-2 my-4">
                              <img src="{% static 'image/email.png' %}" alt="" class="me-2">
                              <input type="email" name="email" placeholder="Email" >
                        </div>
                        {% if form.email.errors %}
                              <p class="alert alert-danger font-NotoSans-Bold">
                                    {{ form.email.errors.as_text }}
                              </p>
                        {% endif %}
                        <div class="input ps-2 my-4">
                              <img src="{% static 'image/sign-in/padlock.png' %}" alt="" class="me-2">
                              <input type="password" name="password" id="pwd" placeholder="Mật khẩu" required>
                        </div>
                        {% if form.password.errors %}
                              <p class="alert alert-danger font-NotoSans-Bold">
                                    {{ form.password.errors.as_text }}
                              </p>
                        {% endif%}
                        <div class="input ps-2 my-2">
                              <img src="{% static 'image/sign-in/padlock.png' %}" alt="" class="me-2">
                              <input type="password" name="re_password" id="repwd" placeholder="Nhập lại mật khẩu" required>
                        </div>
                        <input class="d-block border-0 bg-web text-white w-100 my-4 p-2 fs-14 text-noto-b" type="submit" value="Đăng ký">
                        <hr width="100%"/>
                        <span>or</span>
                  </form> 
                  <button class="btn-gg d-block border-0 text-white w-100 p-2 mb-4 fs-14 text-noto-b" type="submit">Đăng ký với Google</button>
            </div>
      </div> 
{% endblock %}