{% extends 'base_jobseeker.html' %}

{% load static %}

{% block pagetitle_jobseeker %}
      Đăng ký thành công
{% endblock %}

{% block linkcss_jobseeker %}

{% endblock %}

{% block maincontent %}
    <div class="content height-90vh pt-5">
        <div class="container">
            <div class="my-5">
                <p class="fs-3 border-bottom-b py-1 d-inline-block ">Thông báo</p>
            </div>
            <div class="d-flex">
                <img class="col-1" src="{% static 'image/ok.png' %}" alt="">
                <div class="ms-4 mt-3">
                    <h4>Đăng ký thành công</h4>
                    <p class="fs-6">Tài khoản của bạn được tạo thành công, mời bạn <a class="text-blue" href="">đăng nhập</a> lại</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}