
{% extends 'base_jobseeker.html' %}

{% load static %}

{% block pagetitle %}
    Cài đặt tài khoản
{% endblock %}

{% block style %}
    <!-- Style Header Component -->
    <link rel="stylesheet" href="{% static 'css/JobSeeker/header-component.css' %}">
    <!-- Style Setting Account Page -->
    <link rel="stylesheet" href="{% static 'css/setting-account.css' %}">
{% endblock %}

{% block pagecontent %}
    <!-- ----- Header Component ----- -->
    {% include 'components/JobSeeker/header.html' %}
    <!-- ----- End Header ----- -->
      
    <div class="content pt-5">
        <h3 class="text-center pt-5 fs-2 fw-bold">Cài đặt tài khoản</h3>
        <div class="change-pass w-75 m-auto border-1">
            <p class=" fs-5 px-5">Thay đổi mật khẩu</p>
            {% for message in messages %}
            <li  {% if message.tags %} class="  {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
            <form action="{% url 'accounts:setting'%}" method="post" class="d-flex flex-wrap row-cols-lg-3 row-cols-1 mt-sm-4 mt-3 mx-sm-5 mx-3">
                {% csrf_token %}
                <div class=" pe-3 mt-lg-0 mt-4">
                    <input name='old_password' type="password" placeholder="Nhập mật khẩu cũ">
                </div>
                <div class="pe-3 mt-lg-0 mt-4">
                    <input type="password" name="new_password1" placeholder="Nhập mật khẩu mới">
                </div>
                <div class="pe-3 mt-lg-0 mt-4">
                    <input type="password"  name="new_password2" placeholder="Xác nhận mật khẩu mới">
                </div>
                {% for field in form %}
                    <div class="fieldWrapper text-danger list-unstyled">
                        {{ field.errors }}
                        {% if field.help_text %}
                        <!-- <p class="help">{{ field.help_text|safe }}</p> -->
                        {% endif %}
                    </div>
                {% endfor %}
                <input class="w-25 my-4" type="submit" value="THAY ĐỔI MẬT KHẨU">
            </form>
        </div>
    </div>

    <!-- ----- Footer Component ----- -->
    {% include 'components/JobSeeker/footer-component.html' %}
    <!-- ----- End Footer ----- -->
{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/JobSeeker/header-component.js' %}"></script>
{% endblock %}