{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
      Trang thông tin người dùng | Nhà Tuyển Dụng
{% endblock %}

{% block style %}
      <link rel="stylesheet" href="{% static 'css/Recruiter/profile-page.css' %}" />
{% endblock %}

{% block pagecontent %}
      {% include 'components/Recruiter/header.html' %}

      <div id="main" class="my-120 mx-120">
            <div class="wrapper">
                  <div class="d-flex align-items-start position-relative">
                        <div class="box">
                              <img src="{% static 'image/upload.png' %}" alt="">
                        </div>
                        <div class="ms-40">
                              <h3 class="font-NotoSans-Bold fs-4 mb-4">Tên của công ty</h3>
                              <span class="font-WorkSans-Regular fst-italic">Viết một số câu giới thiệu về công ty...</span>

                              <div class="d-flex align-items-center mt-40 font-WorkSans-Regular">
                                    <div class="text-gray">
                                          <p class="mb-2">Địa điểm</p>
                                          <p class="mb-2">Lĩnh vực kinh doanh</p>
                                          <p class="mb-2">Website</p>
                                    </div>
                                    <div class="ms-40">
                                          <p class="fst-italic mb-2">Nhập vị trí công ty</p>
                                          <p class="fst-italic mb-2">Nhập lĩnh vực kinh doanh công ty</p>
                                          <p class="fst-italic mb-2">Nhập địa chỉ website công ty</p>
                                    </div>
                              </div>
                        </div>
                        <div class="position-absolute icon-edit">
                              <div class="box-small">
                                    <i class="icofont-pencil-alt-2"></i>
                              </div>
                        </div>
                  </div>
            </div>
            
            <div class="wrapper mt-40">
                  <div class="position-relative">
                        <p class="font-NotoSans-Bold text-uppercase fs-6">Chi tiết công ty</p>
                        <div class="mt-4">
                              <p class="text-center font-WorkSans-Regular">Nội dung giới thiệu về công ty</p>
                        </div>
      
                        <div class="position-absolute icon-edit">
                              <div class="box-small">
                                    <i class="icofont-pencil-alt-2"></i>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <!-- =============== Footer ================ -->
      <footer class="container-fluid px-0 bg-web">
            <div class="row mx-120 py-5 text-white">
                  <div class="col-md-4 col-12 pe-5">
                        <div class="box-logo">
                              <img class="img-fluid" src="{% static 'image/main-logo.png' %}" alt="">
                        </div>

                        <div class="mt-3">
                              <p class="font-WorkSans-Regular text-justify">
                                    The Wall là nền tảng tuyển dụng và phát triển sự nghiệp hàng đầu Châu Á dành cho các tài năng trẻ. 
                                    Sứ mệnh của The Wall là giúp người trẻ khám phá và theo đuổi đam mê nghề nghiệp.
                              </p>
                        </div>

                        <div class="d-flex align-items-center social-icon mt-3">
                              <img src="{% static 'image/facebook.png' %}" alt="">
                              <img src="{% static 'image/linkedin-sign.png' %}" alt="" class="mx-5">
                              <img src="{% static 'image/twitter-sign.png' %}" alt="">
                        </div>
                  </div>

                  <div class="col-md-4 col-12 px-2">
                        <p class="fs-6 font-NotoSans-Bold">LIÊN HỆ</p>
                        <div class="mt-3">
                              <p class="font-WorkSans-Regular text-justify">
                                  <strong>Địa chỉ:</strong> 
                                  Tầng 6, Số 100, Đường Nguyễn Thị Minh Khai, Phường 06, Quận 3, Thành phố Hồ Chí Minh, Việt Nam
                              </p>
                              <p class="font-WorkSans-Regular">
                                    <strong>Email:</strong> 
                                    sales-vn@glints.com
                              </p>
                              <p class="font-WorkSans-Regular">
                                    <strong>Hotline:</strong> 
                                    (028) 7100 3030
                              </p>
                        </div>
                  </div>

                  <div class="col-md-4 col-12 ps-5">
                        <p class="fs-6 font-NotoSans-Bold">CÁC TRANG LIÊN KẾT</p>
                        <ul class="list-unstyled text-decoration-none font-WorkSans-Regular">
                              <li>
                                    <a href="">Cơ hội việc làm</a>
                              </li>
                              <li class="mt-3">
                                    <a href="">Danh sách công ty</a>
                              </li>
                              <li class="mt-3">
                                    <a href="">Vị trí ứng tuyển</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </footer>
      
{% endblock %}
     