{% load static %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <div class="footer_box_logo">
                    <img 
                        class="img-fluid"
                        src="{% static 'image/main-logo.png' %}"
                        alt="Footer Logo">
                </div>
                <div class="font-WorkSans-Regular mt-1">
                    <p class="text-justify">
                        The Wall là nền tảng tuyển dụng và phát triển sự nghiệp hàng đầu Châu Á dành cho các tài năng trẻ. 
                        Sứ mệnh của The Wall là giúp người trẻ khám phá và theo đuổi đam mê nghề nghiệp.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 space_block">
                <p class="font-NotoSans-Bold section_title">Liên hệ</p>
                <div class="mt-3 font-WorkSans-Regular text-justify">
                    <p>
                        <strong>Địa chỉ:</strong> 
                        Tầng 6, Số 100, Đường Nguyễn Thị Minh Khai, Phường 06, Quận 3, Thành phố Hồ Chí Minh, Việt Nam
                    </p>
                    <p>
                        <strong>Email:</strong> 
                        sales-vn@glints.com
                    </p>
                    <p>
                        <strong>Hotline:</strong> 
                        (028) 7100 3030
                    </p>
                </div>
                <div class="icon_social_group d-flex align-items-center justify-content-between mt-3">
                    <div class="box_circle_icon_social">
                        <i class="icofont-facebook"></i>
                    </div>
                    <div class="box_circle_icon_social">
                        <i class="icofont-linkedin"></i>
                    </div>
                    <div class="box_circle_icon_social">
                        <i class="icofont-twitter"></i>
                    </div>
                    <div class="box_circle_icon_social">
                        <i class="icofont-instagram"></i>
                    </div>
                </div>
            </div>  
            <div class="col-12 col-sm-12 col-md-4 space_block">
                <p class="font-NotoSans-Bold section_title">Các trang liên kết</p>
                <ul class="list-unstyled text-decoration-none font-WorkSans-Regular mt-3">
                    <li>
                        <a href="">Cơ hội việc làm</a>
                    </li>
                    <li class="mt-3">
                        <a href="">Danh sách công ty</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>