{% load static %}

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-2">
                <a
                    href="{% url 'home:index' %}"
                    class="d-flex align-items-center text-decoration-none h-100">
                    <img 
                        src="{% static 'image/logo.png' %}"
                        alt="Logo Site The Wall"
                        class="header_logo_picture">
                    <span class="header_site_name font-NotoSans-Bold">The Wall</span>
                </a>                
            </div>
            
            <div class="col-6 col-sm-6 col-md-9 col-lg-10">
                <div class="d-flex justify-content-end d-md-none">
                    <div class="icon_notify">
                        <i class="icofont-notification"></i>
                    </div>
                    <div class="icon_show_menu ms-1">
                        <i class="icofont-navigation-menu"></i>
                    </div>
                </div>
   
                {% if not user.is_authenticated  or request.path == '/accounts/login/' or request.path == '/accounts/register/' %}
                    <div class="nav d-md-flex align-items-center justify-content-end h-100">
                        <div class="d-block d-md-none">
                            <div class="icon_close_menu">
                                <i class="icofont-close-circled"></i>    
                            </div>
                        </div>
                        <div class="nav_item font-NotoSans-Regular">
                            <a 
                                href="{% url 'accounts:login' %}"
                                class="nav_item_link" 
                            >
                                Đăng nhập
                            </a>
                            <a 
                                href="{% url 'accounts:register' %}"
                                class="nav_item_link" 
                            >
                                Đăng ký
                            </a> 
                        </div>
                        <div class="nav_item" style="margin-left: 70px;">
                            <a href="{% url 'home:recruiter_index' %}">
                                <button class="nav_btn_recruiter">
                                    Nhà tuyển dụng
                                    <i class="icofont-long-arrow-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="nav nav_bar">
                        <div class="d-block d-md-none">
                            <div class="icon_close_menu">
                                <i class="icofont-close-circled"></i>    
                            </div>
                        </div>
                        <div class="nav_item order-2">
                            <div class="d-flex align-items-center">
                                <div class="icon_notify d-none d-md-block">
                                    <i class="icofont-notification"></i>
                                </div>
                               
                                <div class="accordion_group">
                                    <button 
                                        id="id_header_AccountSetting" 
                                        class="accordion-button bg-transparent collapsed" 
                                        type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#id_collapse_AccountSetting" 
                                        aria-expanded="false" 
                                        aria-controls="id_collapse_AccountSetting"
                                    >
                                        <a 
                                            href="{% url 'profiles:profiles' %}"
                                            class="nav_item_link_group"
                                        >
                                            <div class="box_header_profile_picture">
                                                <img 
                                                    src="{{ profile_picture_link }}" 
                                                    alt="Profile Picture"
                                                    class="profile_picture">
                                            </div>
                                            <p class="font-NotoSans-Regular header_name_of_user">
                                                {{ user.first_name }}
                                            </p>
                                            </a>                                                                
                                    </button>
                                    <div 
                                        id="id_collapse_AccountSetting" 
                                        class="dropdown accordion-collapse collapse"  
                                        aria-labelledby="id_header_AccountSetting"
                                    >
                                        <ul class="list-unstyled font-NotoSans-Regular">
                                            <li>
                                                <a 
                                                    class="dropdown_item_link"
                                                    href="{% url 'profiles:profiles'%}"
                                                >
                                                    <i class="icofont-id-card"></i>
                                                    <span class="font-NotoSans-Regular">
                                                        Quản lý hồ sơ
                                                    </span>
                                                </a> 
                                            </li>
                                            <li>
                                                <a 
                                                    class="dropdown_item_link"
                                                    href=""
                                                >
                                                    <i class="icofont-attachment"></i>
                                                    <span class="font-NotoSans-Regular">
                                                        Đơn ứng tuyển của tôi
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a 
                                                    class="dropdown_item_link"
                                                    href=""
                                                >
                                                    <i class="icofont-gear"></i>
                                                    <span class="font-NotoSans-Regular">
                                                        Cài đặt tài khoản
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a 
                                                    class="dropdown_item_link"
                                                    href="{% url 'accounts:logout' %}"
                                                >
                                                    <i class="icofont-logout"></i>
                                                    <span class="font-NotoSans-Regular">
                                                        Đăng xuất
                                                    </span>
                                                </a> 
                                            </li>
                                        </ul>
                                    </div>                                                
                                </div>                               
                            </div>
                        </div>
                        <div class="nav_item order-1">
                            <a
                                href="{% url 'list-job'%}"
                                class="nav_item_link"
                            >
                                Cơ hội việc làm
                            </a>
                            <a
                                href="{% url 'list-company' %}"
                                class="nav_item_link"
                            >
                                Danh sách công ty
                            </a>
                        </div>
                    </div>        
                {% endif %}
            </div>
        </div>
    </div>
</header>
