
{% extends 'base_recruiter.html' %}
{% load static %}

{% block pagetitle_recruiter %}
      Chi tiết công việc
{% endblock %}
{% block linkcss_recruiter %}
    <link rel="stylesheet" href="{% static 'css/add-new-post.css' %}" >
{% endblock %}
{% block maincontent %}

<!-- =============== Main Content =============== -->
      <div id="main" class="my-120">
            <!-- Title of Page -->
            <h1 class="text-uppercase font-NotoSans-Bold text-center fs-4">Thêm bài đăng mới</h1>
            <!-- Content of Page -->
            <div class="container px-0 mx-120 mt-40">
                  <div class="mt-40 input-basic-information">
                        <!-- Heading Field -->
                        <p class="font-NotoSans-Bold fs-6 text-uppercase">Thông tin cơ bản</p>
                        <!-- Input Data Field -->
                        <div class="input-fields mt-3">
                              <div class="input">
                                    <p class="font-WorkSans-Regular">Lĩnh vực công việc</p>
                                    <div class="input-box input-area">
                                          <input 
                                                class="input-selected-options"
                                                type="text"
                                                placeholder="Nhập lĩnh vực công việc đăng tuyển"
                                          >
                                          <i class="icofont-rounded-down input-icon-show"></i>
                                    </div>
                              </div>
                              <div class="input">
                                    <p class="font-WorkSans-Regular">Kinh nghiệm yêu cầu</p>
                                    <input 
                                          class="input-area" 
                                          type="text"
                                          placeholder="Nhập số năm kinh nghiệm yêu cầu"
                                    >
                              </div>
                              <div class="input">
                                    <p class="font-WorkSans-Regular">Tên công việc tuyển dụng</p>
                                    <input 
                                          class="input-area" 
                                          type="text"
                                          placeholder="Nhập tên công việc tuyển dụng"
                                    >
                              </div>
                              <div class="input">
                                    <p class="font-WorkSans-Regular">Mức lương đề xuất</p>
                                    <input 
                                          class="input-area" 
                                          type="text"
                                          placeholder="Nhập mức lương đề xuất cho công việc"
                                    >
                              </div>
                              <div class="input">
                                    <p class="font-WorkSans-Regular">Địa điểm tuyển dụng</p>
                                    <input 
                                          class="input-area" 
                                          type="text"
                                          placeholder="Nhập tên thành phố hoặc tỉnh tuyển dụng"
                                    >
                              </div>
                              <div class="input">
                                    <p class="font-WorkSans-Regular">Hình thức việc làm</p>
                                    <input 
                                          class="input-area" 
                                          type="text"
                                          placeholder="Nhập số năm kinh nghiệm yêu cầu"
                                    >
                              </div>
                        </div>
                  </div>

                  <div class="dividing-line"></div>

                  <div class="input-details border-bottom pb-5">
                        <!-- Heading Field -->
                        <p class="font-NotoSans-Bold fs-6 text-uppercase">Thông tin chi tiết</p>
                        <div class="mt-3">
                              <p class="font-WorkSans-Regular">Chi tiết công việc</p>
                              <textarea class="input-job-detail"></textarea>
                        </div>
                        <div class="mt-3">
                              <p class="font-WorkSans-Regular">Kỹ năng yêu cầu</p>
                              <div class="input-required-skills">
                                    <div class="input-column search-skills">
                                          <input
                                                type="text"
                                                class=" height-45 w-100 border px-2 my-3"
                                                placeholder="Nhập kỹ năng cần tìm kiếm"
                                                class="search-input"
                                          >
                                          <div class="skill-suggestions">
                                                <div class="list-skill row row-cols-2 font-NotoSans-Regular">
                                                      <div class="py-3">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            First checkbox
                                                      </div>
                                                      <div class="py-3">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            Second checkbox
                                                      </div>
                                                      <div class="py-2">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            third checkbox
                                                      </div>
                                                      <div class="py-2">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            Fourth checkbox
                                                      </div>
                                                      <div class="py-2">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            First checkbox
                                                      </div>
                                                      <div class="py-2">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            Second checkbox
                                                      </div>
                                                      <div class="py-2">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            third checkbox
                                                      </div>
                                                      <div class="py-2">
                                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                                            Fourth checkbox
                                                      </div>
                                                </div>
                                          </div> 
                                    </div>
                                    <div class="input-column selected-skills">
                                          <p class="font-WorkSans-Regular">Những kỹ năng đã chọn</p>
                                          <div class="list-selected-skills d-flex flex-wrap justify-content-start">
                                                <span class="px-3 py-1 me-2">HTML</span>
                                                <span class="px-3 py-1 me-2">CSS</span>
                                                <span class="px-3 py-1 me-2">PHP</span>
                                                <span class="px-3 py-1 me-2">PYTHON</span>
                                                <span class="px-3 py-1 me-2">Java</span>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="btn-add-post text-end mt-5">
                        <button class="px-4 py-2 bg-btn font-NotoSans-Bold fs-14 border-0 ">THÊM BÀI ĐĂNG MỚI</button>
                  </div>
            </div>
      </div>

{% endblock %}