/* ========== Add New Fonts ========== */
/* ---------- Noto Sans ---------- */
@font-face {
      font-family: 'Noto Sans Bold';
      src: url('../../font/NotoSans/NotoSans-Bold.woff2') format('woff2'),
           url('../../font/NotoSans/NotoSans-Bold.woff') format('woff'),
           url('../../font/NotoSans/NotoSans-Bold.ttf') format('ttf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Noto Sans Regular';
      src: url('../../font/NotoSans/NotoSans.woff2') format('woff2'),
           url('../../font/NotoSans/NotoSans.woff') format('woff'),
           url('../../font/NotoSans/NotoSans-Regular.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Noto Sans Bold Italic';
      src: url('../../font/NotoSans/NotoSans-BoldItalic.woff2') format('woff2'),
           url('../../font/NotoSans/NotoSans-BoldItalic.woff') format('woff'),
           url('../../font/NotoSans/NotoSans-BoldItalic.ttf') format('ttf');
      font-weight: bold;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Noto Sans Italic';
      src: url('../../font/NotoSans/NotoSans-Italic.woff2') format('woff2'),
           url('../../font/NotoSans/NotoSans-Italic.woff') format('woff'),
           url('../../font/NotoSans/NotoSans-Italic.ttf') format('ttf');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
}
/* ---------- Work Sans ---------- */
@font-face {
      font-family: 'Work Sans Black';
      src: url('../../font/WorkSans/WorkSans-Black.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Black.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Black.otf') format('otf');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Black Italic';
      src: url('../../font/WorkSans/WorkSans-BlackItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-BlackItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-BlackItalic.otf') format('otf');
      font-weight: 900;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Bold';
      src: url('../../font/WorkSans/WorkSans-Bold.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Bold.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Bold.otf') format('otf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans ExtraBold Italic';
      src: url('../../font/WorkSans/WorkSans-ExtraBoldItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-ExtraBoldItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-ExtraBoldItalic.otf') format('otf');
      font-weight: bold;
      font-style: italic;
      font-display: swap;
} 
@font-face {
      font-family: 'Work Sans ExtraBold';
      src: url('../../font/WorkSans/WorkSans-ExtraBold.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-ExtraBold.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-ExtraBold.otf') format('otf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans ExtraLight';
      src: url('../../font/WorkSans/WorkSans-ExtraLight.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-ExtraLight.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-ExtraLight.otf') format('otf');
      font-weight: 200;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Bold Italic';
      src: url('../../font/WorkSans/WorkSans-BoldItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-BoldItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-BoldItalic.otf') format('otf');
      font-weight: bold;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Hairline';
      src: url('../../font/WorkSans/WorkSans-Hairline.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Hairline.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Hairline.otf') format('otf');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans ExtraLight Italic';
      src: url('../../font/WorkSans/WorkSans-ExtraLightItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-ExtraLightItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-ExtraLightItalic.otf') format('otf');
      font-weight: 200;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Italic';
      src: url('../../font/WorkSans/WorkSans-Italic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Italic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Italic.otf') format('otf');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Light';
      src: url('../../font/WorkSans/WorkSans-Light.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Light.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Light.otf') format('otf');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Medium';
      src: url('../../font/WorkSans/WorkSans-Medium.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Medium.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Medium.otf') format('otf');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Light Italic';
      src: url('../../font/WorkSans/WorkSans-LightItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-LightItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-LightItalic.otf') format('otf');
      font-weight: 300;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Medium Italic';
      src: url('../../font/WorkSans/WorkSans-MediumItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-MediumItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-MediumItalic.otf') format('otf');
      font-weight: 500;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Regular';
      src: url('../../font/WorkSans/WorkSans-Regular.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Regular.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Regular.otf') format('otf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans SemiBold';
      src: url('../../font/WorkSans/WorkSans-SemiBold.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-SemiBold.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-SemiBold.otf') format('otf');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans Thin Italic';
      src: url('../../font/WorkSans/WorkSans-ThinItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-ThinItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-ThinItalic.otf') format('otf');
      font-weight: 100;
      font-style: italic;
      font-display: swap;
}  
@font-face {
      font-family: 'Work Sans Thin';
      src: url('../../font/WorkSans/WorkSans-Thin.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-Thin.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-Thin.otf') format('otf');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Work Sans SemiBold Italic';
      src: url('../../font/WorkSans/WorkSans-SemiBoldItalic.woff2') format('woff2'),
           url('../../font/WorkSans/WorkSans-SemiBoldItalic.woff') format('woff'),
           url('../../font/WorkSans/WorkSans-SemiBoldItalic.otf') format('otf');
      font-weight: 600;
      font-style: italic;
      font-display: swap;
}
/* ---------- Roboto ---------- */
@font-face {
      font-family: 'Roboto Black Italic';
      src: url('../../font/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-BlackItalic.woff') format('woff'),
           url('../../font/Roboto/Roboto-BlackItalic.ttf') format('ttf');
      font-weight: 900;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Black';
      src: url('../../font/Roboto/Roboto-Black.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Black.woff') format('woff'),
           url('../../font/Roboto/Roboto-Black.ttf') format('ttf');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Bold';
      src: url('../../font/Roboto/Roboto-Bold.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Bold.woff') format('woff'),
           url('../../font/Roboto/Roboto-Bold.ttf') format('ttf');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Italic';
      src: url('../../font/Roboto/Roboto-Italic.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Italic.woff') format('woff'),
           url('../../font/Roboto/Roboto-Italic.ttf') format('ttf');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Light Italic';
      src: url('../../font/Roboto/Roboto-LightItalic.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-LightItalic.woff') format('woff'),
           url('../../font/Roboto/Roboto-LightItalic.ttf') format('ttf');
      font-weight: 300;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Light';
      src: url('../../font/Roboto/Roboto-Light.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Light.woff') format('woff'),
           url('../../font/Roboto//Roboto-Light.ttf') format('ttf');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
} 
@font-face {
      font-family: 'Roboto Bold Italic';
      src: url('../../font/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-BoldItalic.woff') format('woff'),
           url('../../font/Roboto/Roboto-BoldItalic.ttf') format('ttf');
      font-weight: bold;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Medium Italic';
      src: url('../../font/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-MediumItalic.woff') format('woff'),
           url('../../font/Roboto/Roboto-MediumItalic.ttf') format('ttf');
      font-weight: 500;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Medium';
      src: url('../../font/Roboto/Roboto-Medium.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Medium.woff') format('woff'),
           url('../../font/Roboto/Roboto-Medium.ttf') format('ttf');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Regular';
      src: url('../../font/Roboto/Roboto-Regular.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Regular.woff') format('woff'),
           url('../../font/Roboto/Roboto-Regular.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Thin Italic';
      src: url('../../font/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-ThinItalic.woff') format('woff'),
           url('../../font/Roboto/Roboto-ThinItalic.ttf') format('ttf');
      font-weight: 100;
      font-style: italic;
      font-display: swap;
}
@font-face {
      font-family: 'Roboto Thin';
      src: url('../../font/Roboto/Roboto-Thin.woff2') format('woff2'),
           url('../../font/Roboto/Roboto-Thin.woff') format('woff'),
           url('../../font/Roboto/Roboto-Thin.ttf') format('ttf');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
}
/* ========== End Add New Fonts ========== */


/* ========== Custom Font Family ========== */
/* ---------- Noto Sans ---------- */
.font-NotoSans-Bold {
      font-family: 'Noto Sans Bold';
}
.font-NotoSans-BoldItalic {
      font-family: 'Noto Sans Bold Italic';
}
.font-NotoSans-Italic {
      font-family: 'Noto Sans Italic';
}
.font-NotoSans-Regular {
      font-family: 'Noto Sans Regular';
}
/* ---------- Work Sans ---------- */
.font-WorkSans-Black {
      font-family: 'Work Sans Black';
}
.font-WorkSans-BlackItalic {
      font-family: 'Work Sans Black Italic';
}
.font-WorkSans-Bold {
      font-family: 'Work Sans Bold';
}
.font-WorkSans-BoldItalic {
      font-family: 'Work Sans BoldItalic';
}
.font-WorkSans-ExtraBold {
      font-family: 'Work Sans ExtraBold';
}
.font-WorkSans-ExtraBoldItalic {
      font-family: 'Work Sans ExtraBold Italic';
}
.font-WorkSans-ExtraLight {
      font-family: 'Work Sans ExtrLight';
}
.font-WorkSans-ExtraLightItalic {
      font-family: 'Work Sans ExtraLight Italic';
}
.font-WorkSans-Hairline {
      font-family: 'Work Sans Hairline';
}
.font-WorkSans-Italic {
      font-family: 'Work Sans Italic';
}
.font-WorkSans-Light {
      font-family: 'Work Sans Light';
}
.font-WorkSans-LightItalic {
      font-family: 'Work Sans Light Italic';
}
.font-WorkSans-Medium {
      font-family: 'Work Sans Medium';
}
.font-WorkSans-Regular {
      font-family: 'Work Sans Regular';
}
.font-WorkSans-SemiBold {
      font-family: 'Work Sans SemiBold';
}
.font-WorkSans-SemiBoldItalic {
      font-family: 'Work Sans SemiBold Italic';
}
.font-WorkSans-Thin {
      font-family: 'Work Sans Thin';
}
.font-WorkSans-ThinItalic {
      font-family: 'Work Sans Thin Italic';
}
/* ---------- Roboto ---------- */
.font-Roboto-Black {
      font-family: 'Roboto Black';
}
.font-Roboto-BlackItalic {
      font-family: 'Roboto Black Italic';
}
.font-Roboto-Bold {
      font-family: 'Roboto Bold';
}
.font-Roboto-BoldItalic {
      font-family: 'Roboto Bold Italic';
}
.font-Roboto-Italic {
      font-family: 'Roboto Italic';
}
.font-Roboto-Light {
      font-family: 'Roboto Light';
}
.font-Roboto-LightItalic {
      font-family: 'Roboto Light Italic';
}
.font-Roboto-Medium {
      font-family: 'Roboto Medium';
}
.font-Roboto-MediumItalic {
      font-family: 'Roboto Medium Italic';
}
.font-Roboto-Regular {
      font-family: 'Roboto Regular';
}
.font-Roboto-Thin {
      font-family: 'Roboto Thin';
}
.font-Roboto-ThinItalic {
      font-family: 'Roboto Thin Italic';
}
/* ========== End Custom Font Family ========== */

.text-justify {
      text-align: justify;
}