{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    Danh sách công việc
{% endblock %}

{% block style %}
    <!-- Style Header and Footer component -->
    <link rel="stylesheet" href="{% static 'css/JobSeeker/header-component.css' %}">
    <link rel="stylesheet" href="{% static 'css/JobSeeker/footer-component.css' %}">
    <!-- Style Job Listing Page -->
    <link rel="stylesheet" href="{% static 'css/JobSeeker/job-listing-page.css' %}">
{% endblock %}

{% block pagecontent %}
    <!-- ----- Header Component ----- -->
    {% include 'components/JobSeeker/header-component.html' %}
    <!-- ----- End Header ----- -->

    <!-- ----- Main Content of Job Listing Page ----- -->
    <div id="content" class="pt-5 pb-5 mb-5 font-NotoSans-Regular">
        <div class="container">
            <form action="{% url 'search-form' %}" method="post">
                <div class="search my-5 px-md-0 px-4 d-flex row justify-content-between gy-3">
                    {% csrf_token %}
                    <div class="search-job p-1 col-md-5 col-12">
                        <img src="{% static 'image/hello/search.png' %}" alt="">
                        <input autocomplete="off" id="search-post" class=" input-sr border-0 bg-transparent" name="post" type="text" placeholder="Tìm kiếm việc làm">
                        <div id="result-search" class="not-visible"></div>
                    </div>
                    <div class="search-location p-1 col-md-5 col-12">
                        <img src="{% static 'image/location.png' %}" alt="">
                        <input id="search-location" class="input-sr border-0 bg-transparent" name="location" type="text" placeholder="Tìm kiếm vị trí">
                        <div id="result-location" class="not-visible result-location"></div>
                    </div>
                    <div class="btn-search">
                        <input class="text-light w-100 border-0 h-100 bg-web" type="submit" value="TÌM KIẾM">
                    </div>
                </div>
            </form>
            <div class="content ">
                <div class="btn-filter m-3 pb-3">
                    <button class="w-100 border-1 p-2">Lọc tìm kiếm của bạn</button>
                </div>
                <div class="filter bg-white py-4 text-roboto-re">
                    <h3 class="text-roboto-m border-bottom pb-2 fs-5 px-3" >Lọc tìm kiếm của bạn</h3>
                    <div class="sort border-bottom pb-3 px-3">
                        <p>Sắp xếp theo</p>
                        <div class="d-flex">
                            <button class="button-choose px-3 me-2 fs-14">Mới nhất</button>
                            <button class=" fs-14">Mức độ liên quan</button>
                        </div>
                    </div>
                    <div class="accordion accordion-flush" id="accordionFilter">
                        <form action="{% url 'filter' %}" method="post">
                            <div class="accordion-item type-work border-bottom pb-3">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                      Loại công việc
                                    </button>
                                  </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"  aria-labelledby="flush-headingOne" data-bs-parent="#accordionFilter">
                                    <div action="" class="accordion-body">
                                        <div class="check-type">
                                            <input type="checkbox" name="type-job" id="intern" value="intern" class="me-2 text-roboto-re">Intern
                                        </div>
                                        <div class="check-type">
                                            <input type="checkbox" name="type-job" id="fulltime" value="full-time" class="me-2 text-roboto-re">Full-time
                                        </div>
                                        <div class="check-type">
                                            <input type="checkbox" name="type-job" id="parttime" value="part-time" class="me-2 text-roboto-re">Part-time
                                        </div>
                                        <div class="check-type">
                                            <input type="checkbox" name="type-job" id="freelance" value="freelance" class="me-2 text-roboto-re">Freelance
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="city accordion-item border-bottom pb-3">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                      Thành phố
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo"  class="accordion-collapse collapse"  aria-labelledby="flush-headingOne" data-bs-parent="#accordionFilter">
                                    <div class="accordion-body">
                                        <div class="check-city">
                                            <input type="checkbox" name="location" id="hcm" value="ho chi minh" class="me-2 text-roboto-re">Hồ Chí Minh
                                        </div>
                                        <div class="check-city">
                                            <input type="checkbox" name="location" id="cantho" value="cantho" class="me-2 text-roboto-re">Cần Thơ
                                        </div>
                                        <div class="check-city">
                                            <input type="checkbox" name="location" id="hanoi" value="hanoi" class="me-2 text-roboto-re">Hà Nội
                                        </div>
                                        <div class="check-city">
                                            <input type="checkbox" name="location" id="danang" value="danang" class="me-2 text-roboto-re">Đà Nẵng
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="job accordion-item border-bottom pb-3">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                      Danh mục công việc
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"  aria-labelledby="flush-headingOne" data-bs-parent="#accordionFilter">
                                    <form action="" class="accordion-body">
                                        <div class="check-job">
                                            <input type="checkbox" name="job" id="sale" value="sale" class="me-2 text-roboto-re">Nhân viên kinh doanh/ Sale
                                        </div>
                                        <div class="check-job">
                                            <input type="checkbox" name="job" id="marketing" value="marketing" class="me-2 text-roboto-re">Marketing
                                        </div>
                                        <div class="check-job">
                                            <input type="checkbox" name="job" id="engineer" value="engineer" class="me-2 text-roboto-re">Sortware Engineer
                                        </div>
                                        <div class="check-job">
                                            <input type="checkbox" name="job" id="other" value="other" class="me-2 text-roboto-re">Khác
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <input class="bg-btn border-0 mt-3 ms-4 px-4 py-1" type="submit" value="Lọc">
                        </form>
                </div>
                <div class="list-job row ps-5 overflow-auto">
                    {% for post in list_of_job_postings %}
                    <div class="list-job-card mb-4">
                        <a class="text-black" href="{% url 'detail-job' item.id %}">
                            <div class="job-card">
                                <div class="title-card d-flex">
                                    <div class="img-company">
                                        <img class="w-100" src="{% static 'image/fpt-software-tuyen.png' %}" alt="">
                                    </div>
                                    <div class="title-post ms-3 col-8">
                                        <p class="fs-6 text-roboto-m m-0">
                                            {{ post.name_post }}
                                        </p>                                 
                                        <p class="fs-14 color-name text-worksans-re m-0">FPT Software</p>
                                    </div>
                                    <div class="save-job">
                                        <i class="far fa-bookmark icon-save" id="icon-1"></i>
                                    </div>
                                </div>
                                <div class="content-post p-3 text-worksans-l fs-14">
                                    <p class=" mb-1"><img class="me-2" src="{% static 'image/location.png' %}" alt="">{{item.location}}</p>
                                    <p class=" mb-1"><img class="me-2" src="{% static 'image/dollar.png' %}" alt="">{{item.salary}}</p>
                                </div>
                                <div class="time-post px-3 py-2  text-worksans-l">
                                    <p><img class="me-2" src="{% static 'image/clock.png' %}" alt="">{{item.time_create}}</p>
                                </div>
                                <div class="quantity-apply p-3">
                                    <p><img class="me-2" src="{% static 'image/user.png' %}" alt="">10 người đã ứng tuyển</p>
                                </div>
                            </div>
                            
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!-- ----- Footer Component ----- -->
    {% include 'components/JobSeeker/footer-component.html' %}
    <!-- ----- End Footer ----- -->
{% endblock %}

{% block javascript %}
    <script 
        type="text/javascript" 
        src="{% static 'javascript/JobSeeker/header-component.js' %}">
    </script>
    <script
        type="text/javascript"
        src="{% static 'javascript/JobSeeker/job-listing-page.js' %}">
    </script>
    <script 
        type="text/javascript" 
        src="{% static 'javascript/search.js' %}">
    </script>
{% endblock %}