{% extends 'base_jobseeker.html' %}
{% load static %}

{% block pagetitle_jobseeker %}
      Chi tiết công việc
{% endblock %}
{% block linkcss_jobseeker %}
    <link rel="stylesheet" href="{% static 'css/job-description.css' %}" >
{% endblock %}
{% block maincontent %}
    <div id="content" class="overflow-hidden">
        <div class="container">
            <div class="inf-post border-bottom pb-5 d-flex">
                <div class="img-company col-2">
                    <img class="w-100" src="{% static 'image/line_icon_200_v3.jpg' %}" alt="">
                </div>
                <div class="main-post col-10 ps-5">
                    <div class="main-inf">
                        <h3 class="font-NotoSans-Bold fs-5">{{post.name_post}}</h3>
                        <p class="color-blue font-NotoSans-Regular">{{post.location}}</p>
                        <p class="mb-1"> <img class="me-2" src="{% static 'image/dollar.png' %}" alt="">{{post.salary}}</p>
                        <p class=" mb-1"><img class="me-2" src="{% static 'image/building.png' %}" alt="">{{post.field_job}}</p>
                        <p class=" mb-1"><img class="me-2" src="{% static 'image/portfolio.png' %}" alt="">{{post.type_job}}</p>
                    </div>
                    <p class="time-post fs-14"> <img src="{% static 'image/clock.png' %}" alt="">{{post.time_create}}</p>
                    <div class="btn-post justify-content-start row">
                        <div class="button-apply col-lg-3 col-md-4 my-2">
                            <button class="bg-btn font-NotoSans-Bold fs-14 px-3 py-2 border-0">ỨNG TUYỂN NGAY</button>
                        </div>
                        <div class="button-mark col-lg-3 col-md-4 my-2">
                            <button class="bg-white font-NotoSans-Bold fs-14 px-3 py-1"> <img class="me-2" src="{% static 'image/bookmark.png' %}" alt=""> ĐÁNH DẤU</button>
                        </div>
                        <div class="button-share col-lg-3 col-md-4 my-2">
                            <button class="bg-white font-NotoSans-Bold fs-14 px-3 py-1"><img class="me-2" src="{% static 'image/share.png' %}" alt=""> SHARE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-post px-2 py-5">
                <h3 class="font-NotoSans-Bold fs-5">CHI TIẾT</h3>
                <div class="post-content">
                    {{post.content_post}}
                </div>
            </div>
            <div class="skill">
                <h3 class="font-NotoSans-Bold fs-5">KỸ NĂNG BẮT BUỘC CÓ</h3>
                <div class="skill-tag d-flex flex-wrap font-WorkSans-Regular">
                    <div class="tag-item py-1 me-2">
                        <div class="tag text-center p-1">International Sales</div>
                    </div>
                    <div class="tag-item my-1 me-2">
                        <div class="tag text-center p-1">international Marketing</div>
                    </div>
                    <div class="tag-item my-1 me-2">
                        <div class="tag text-center p-1">International Sales</div>
                    </div>
                    
                </div>
            </div>
            <div class="introduce-company mt-5 p-5">
                <h3 class="font-NotoSans-Bold fs-5">GIỚI THIỆU VỀ CÔNG TY</h3>
                <div class="inf-post pb-5 d-flex">
                    <div class="img-company col-2">
                        <img class="w-100" src="{% static 'image/line_icon_200_v3.jpg' %}" alt="">
                    </div>
                    <div class="detail-comp col-10 ps-5">
                        <div class="inf-company">
                            <p class="name-company font-NotoSans-Bold color-blue mb-2">Line Corporation</p>
                            <p class="fs-14 font-WorkSans-Light">Internet Company</p>
                            <div class="web-img">
                                <img class="w-100" src="{% static 'image/world-wide-web.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <p>With the LINE messaging app as the cornerstone,LINE Corporation's business encompasses development and operation of a wide range of mobile-first services—including communication, content, and entertainment—and advertising, as well as new businesses in Fintech, AI, and other domains. Under its corporate mission of "Closing the Distance," LINE Corporation strives to bring people around the world closer to each other, to information, and to services. </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block linkjs %}
    <script src="{% static 'javascript/post_description.js' %}" type="text/javascript"></script>
{% endblock %}