{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    {% block pagetitle_recruiter %}
    {% endblock %}
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/Recruiter/header-component.css' %}">
    {% block linkcss_recruiter %}
    {% endblock %}
{% endblock %}
{% block pagecontent %}
    <!-- =============== Header =============== -->
    {% include 'components/Recruiter/header-component.html' %}

  <!-- End Header -->

  {% block maincontent %}
  {% endblock %}
    {% include 'components/Recruiter/footer-component.html' %}

{% endblock %}

{% block javascript %}
  <script src="{% static 'javascript/Recruiter/header-component.js' %}" type="text/javascript"></script>
  {% block linkjs %}

  {% endblock %}
{% endblock %}