{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    {% block pagetitle_recruiter %}
    {% endblock %}
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/Recruiter/header.css' %}">
    {% block linkcss_recruiter %}
    {% endblock %}
{% endblock %}
{% block pagecontent %}
    <!-- =============== Header =============== -->
    {% include 'components/Recruiter/header.html' %}
  <!-- End Header -->

  {% block maincontent %}
  {% endblock %}
    {% include 'components/Recruiter/footer.html' %}

{% endblock %}

{% block javascript %}
  {% block linkjs %}

  {% endblock %}
{% endblock %}