{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    {% block pagetitle_jobseeker %}
    
    {% endblock %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/header-component.css' %}">
    {% block linkcss_jobseeker %}

    {% endblock %}
{% endblock %}

{% block pagecontent %}
<!-- ========== HEADER ========== -->
    {% include 'components/JobSeeker/header.html' %}
 
    {% block maincontent %}
    {% endblock %}

    {% include 'components/JobSeeker/footer.html' %}
{% endblock %}

{% block javascript %}
    {% block linkjs %}
  <script src="{% static 'javascript/Jobseeker/header-component.js' %}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}