{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>
          {% block pagetitle %} 
          
          {% endblock %}
      </title>

      <!-- Favicons -->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo.png' %}">

      <!-- Vendor CSS Files -->
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'vendor/icofont/icofont.min.css' %}">
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
      <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.css' %}">

      <!-- Template CSS Files -->
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/typography.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">

      <!-- Template CSS Files For Each Page -->
      {% block style %}

      {% endblock %}
      
</head>
<body>
      {% block pagecontent %}

      {% endblock %}    
      
      
      <!-- Vendor Script Files -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js" type="text/javascript"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js" type="text/javascript"></script>
      <script>
          AOS.init();
      </script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}" type="text/javascript"></script>

      <!-- Main Script Files -->
      {% block linkjs %}
      {% endblock %}
      <script src="{% static 'javascript/hello.js' %}" type="text/javascript"></script>
      <script src="{% static 'javascript/list-job.js' %}" type="text/javascript"></script>

     
      

      <!-- Script Files for Each Page-->
      {% block javascript %}

      {% endblock %}
</body>
</html>