{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    {% block pagetitle_recruiter %}
    
    {% endblock %}
{% endblock %}
{% block linkcss %}
    {% block linkcss_recruiter %}
    {% endblock %}
{% endblock %}
{% block pagecontent %}
    <!-- =============== Header =============== -->
    <header class="container-fluid px-0 bg-web">
        <div class="d-flex align-items-center py-2 mx-120 text-white">
              <a class="d-flex align-items-center text-decoration-none">
                    <img src="{% static 'image/logo.png' %}" alt="Logo The Wall" width="40px" height="40px">
                    <span class="font-NotoSans-Bold ms-2" style="font-size: 14pt;">
                          The Wall
                          <span class="font-NotoSans-Regular d-block" style="font-size: 10pt;">
                                for Employers
                          </span>
                    </span>
              </a>

              <button class="d-lg-none d-block" type="button"> 
                    <img src="{% static 'image/menu.png' %}" alt="">
              </button>
              
              <div class="d-flex align-items-center font-NotoSans-Regular ms-auto me-0">
                    <div class="text-uppercase">
                          <a href="#">Bảng thông tin</a>
                          <a href="#" class="ms-40">Quản lý ứng viên</a>
                          <a href="#" class="ms-40">Quản lý đăng tuyển</a>
                    </div>
                    <div class="d-flex align-items-center ms-240">
                          <div>
                          <img src="{% static 'image/bell.png' %}" alt="Notification" style="width:20px; height:20px;">  
                          </div>
                          <div class="ms-40 d-flex align-items-center">
                                <img src="{% static 'image/horror.png' %}" width="40px" height="40px">
                                <span class="ms-2 font-NotoSans-Bold">Minh</span>
                                <span class="ms-1">
                                      <i class="icofont-rounded-down"></i>
                                </span>
                          </div>
                    </div>
              </div>
        </div>
  </header>
  <!-- End Header -->

  {% block maincontent %}
  {% endblock %}
{% endblock %}