{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}
    {% block pagetitle_jobseeker %}
    
    {% endblock %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block linkcss_jobseeker %}

    {% endblock %}
{% endblock %}

{% block pagecontent %}
<!-- ========== HEADER ========== -->
    {% include 'components/JobSeeker/header.html' %}
 
    {% block maincontent %}
    {% endblock %}

    {% include 'components/JobSeeker/footer.html' %}
{% endblock %}

{% block javascript %}
{% endblock %}