.wrapper {
      border: 0.75px solid #c5c5c5;
      border-radius: 12px;
      box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.45);
      padding: 40px;
}

.box {
      border: 1px solid #c5c5c5;
      padding: 15px;
}

.box-small {
      border: 1px solid #c5c5c5;
      padding: 5px;
}

.icon-edit {
      top: 5px;
      right: 0px;
}

/* bảng cập nhật thông tin*/
.frame-profile{
      visibility: visible;
      position: fixed;
      -webkit-box-pack: center;
      inset: 0px;
      overflow:auto;
      transform: scale(1);
      transform-origin: center center;
      transition: all 0.2s ease-in 0s;
      display: none;
      top: 10%;
      left: calc(50% - 250px);
      z-index: 10;
      width: 98%;
      max-width: 500px;
  }
  @media (max-width: 576px){
      .frame-profile{
          left: 0;
      }
  }

  .frame::-webkit-scrollbar { 
      display: none; 
  }

  .frame-update-inf {
      width: 98%;
      max-width: 500px;
      top: 15%;
      left: calc(50% - 250px);
  }
  
.i-close {
      width: 15px;
      right: 16px;
      top: 15px;
}

.img-profile-edt {
      width: 130px;
      height: 130px;
      border-radius: 50%;
}

textarea:focus,
input[type='text']:focus,
input[type='search']:focus,
select:focus
{
      box-shadow: 0 0 10px rgba(102, 102, 102, 0.2);
      outline:none;
}

.d-grid{
      grid-auto-flow: column;
}

.btn-form button{
      border-radius:0;
}

.btn-form{
      margin: auto -15px;
}

.over-edit {
      display: none;
      background: #000;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      z-index: 9;
}

.bg-opacity {
      background: #000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      z-index: 99;
}
  
.edt-img-user{
      right: calc(50% - 17px);
      width: 35px;
      top: calc(50% - 17px);
      z-index: 100;
}

textarea{
      border-radius: 8px;
      border: 1px solid rgba(102, 102, 102, 0.8);
}

textarea::placeholder{
      font-style: italic;
}

input[type='text']{
      /* border-radius: 6px; */
      border: 1px solid rgba(102, 102, 102, 0.6);
}
  
.color-gray-light{
      color: #C5C5C5;
}

.skill-item{
      border-radius: 20px;
      background: #ECECEC;
}
  
.vnd{
      background: #C4C4C4;
      width:23%;
}